<h3 class="text-center">Autores</h3>
<div class="authors">
  <% for (i in authors){ %>
    <div >
      <div class="thumbnail">
        <img class="author_pict" src="<%= authors[i].picture %>" alt="<%= 'foto de ' + authors[i].name %>">
        <div class="caption">
          <h5 class="text-center"><%= authors[i].name %></h5>
          <span class="center-block text-center">
            <% if (authors[i].fb != "") { %>
              <a class="contact" href=<%= authors[i].fb %> >
                <img src="/images/FB-f-Logo__blue_29.png" alt="" />
              </a>
            <% } %>
            <% if (authors[i].in != "") { %>
              <a class="contact" href=<%= authors[i].in %> >
                <img src="/images/In.png" alt="" />
              </a>
            <% } %>
            <% if (authors[i].github != "") { %>
              <a class="contact" href=<%= authors[i].github %>>
                <img src="/images/GitHub-Mark-32px.png" alt="" />
              </a>
            <% } %>
            <% if (authors[i].tw != "") { %>
              <a class="contact" href=<%= authors[i].tw %>>
                <img src="/images/twitter.png" alt="" />
              </a>
            <% } %>
          </span>
        </div>
      </div>
    </div>
  <% } %>

</div>
