<div id='quizes_actions'>
  <form class="" action="/quizes" method="GET">
    <input type="text" name="search" placeholder="Buscar Quiz"/>
    <input type="submit" value="Filtrar">
  </form>
  <% if (session.user) { %>
    &nbsp;|&nbsp;
    <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
  <% } %>
</div>
<div id="quiz_list">
  <table>
    <% if (quizes.length > 0) { %>
      <% for (var i in quizes) { %>
        <tr>
          <td>
            <a class="links" href="quizes/<%= quizes[i].id %>">
              <%= quizes[i].pregunta %>
            </a>
          </td>
          <% if (session.user) { %>
            <td>
              <a class="links" href="quizes/<%= quizes[i].id %>/edit">
                <button type="button">editar</button>
              </a>
            </td>
            <td>
              <form action="quizes/<%= quizes[i].id %>?_method=delete" method="post">
                <button type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
                  borrar
                </button>
              </form>
            </td>
          <% } %>
        </tr>
        <% } %>
    <% } else { %>
      <p>No se encontraron coincidencias</p>
    <% } %>
  </table>
</div>
